$orange: #e22e04;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body.mfc {
    margin: 0px auto;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    max-width: 100%;
    width: 600px;
}

.mfc {
    
    .hidden {
        display: none;
    }
    
    p {
        line-height: 24px;
    }    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    ul.child-comment {
        padding-left: 14px;
        border-left: 2px solid #e0e0e0;
    }
    
    /* descendent children */
    ul.main-comments > li {
        border-bottom: 1px solid #d4d4d4;
        
        /* cancel out other li children (same as ul.main-comments > li li ) */
        /*
        li {
            border-bottom: none;
        }
        */
    }
    
    li {
        margin-bottom: 30px;
    }
    
    .comment {
        margin-bottom: 20px;
    }
            
    .reply {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        color: gray;
        text-transform: uppercase;
        cursor: pointer; 
    }
    
    .reply:hover {
        color: $orange;
    }
    
    .author {
        margin-bottom: 20px;
        font-weight: 600;
        
        a {
            color: $orange;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }

    .gravatar {
        height: 40px;
        width: 40px;
        border-radius: 3px;
        vertical-align: middle;
        margin-right: 8px;
    }
    
    /* Comment Box */
    
    h3.leave-comment {
        margin-bottom: 4px;
    }
    
    #mfc-cancel-reply {
        cursor: pointer; 
        color: $orange;
        margin-bottom: 20px;
    }

    
    #comment_body {
        height: 100px;
        width: 100%;
    }
    
    #new_comment {
        
        margin-bottom: 40px;
        
        textarea, input {
            margin-bottom: 12px;
            padding: 10px;
            border: 1px solid #c7c7c7;
            font-family: inherit;
            font-size: 16px;
        }
        
        textarea:focus, input:focus {
            background-color: #f7f7f7;
            outline: 0;
        }
        
        input[type=submit] {
            display: block;
            text-decoration: none;
            border: none;
            color: white;
            text-align: center;
            font-weight: 600;
            background: #e22e04;
            padding: 16px;
            margin: 0px auto;
            width: 100%;
            border-radius: 5px;
            text-transform: uppercase;
            margin-top: 6px;
            margin-bottom: 20px;
            cursor: pointer;
        }
        
        input[type=submit]:hover {
            background-color: #c12501;
        }
    }
    
    .name-email {
        display: flex;
    }
    
    #comment_author {
        width: 50%;
        margin-right: 10px;
    }
    
    #comment_email {
        width: 50%;
    }
    
    #comment_url {
        width: 100%;
    }
    
    @media only screen and (max-width: 480px) {
        .name-email {
            display: block;
        }
        
        #comment_author {
            width: 100%;
            margin-right: 0;
        }
        
        #comment_email {
            width: 100%;
        }

    }
}