.mfc {
    .reply {
        cursor: pointer;
    }

    .author {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .gravatar {
        height: 40px;
        width: 40px;
        border-radius: 3px;
    }
}